In [3]:
import cx_Oracle

conStr = 'system/oracle@localhost:1521/xe'

conn = cx_Oracle.connect(conStr)

cur = conn.cursor()

sqlTxt = 'insert into "TEST1".country (name) values (:1)'

cur.execute(sqlTxt, ('nemackaaa2123123',))

conn.commit()

cur.close()
conn.close()

In [6]:
import cx_Oracle
import pandas as pd

conStr = 'system/oracle@localhost:1521/xe'

conn = cx_Oracle.connect(conStr)

cur = conn.cursor()

sqlTxt = 'select * from "TEST1".country'
cur.execute(sqlTxt)

record = cur.fetchall()
print(record)

df= pd.DataFrame.from_records(record, columns = [x[0] for x in cur.description] )
print(df)
cur.close()
conn.close()

[(24, 'proba dal hoce'), (25, 'proba dal hoce'), (26, 'proba dal hoce'), (27, 'proba dal hoce'), (28, 'proba dal hoce'), (30, 'proba dal hoce'), (31, 'nemackaaa2'), (41, 'nemackaaa2'), (42, 'nemackaaa2'), (43, 'nemackaaa2'), (44, 'nemackaaa2123123'), (1, 'srbija'), (2, 'srbija'), (3, 'srbija'), (4, 'nemacka'), (5, 'nemacka'), (6, 'nemackaaa'), (7, 'nemackaaa'), (21, 'nemackaaa'), (22, 'nemackaaa'), (23, 'nemackaaa'), (29, 'nemackaaa2')]
    ID              NAME
0   24    proba dal hoce
1   25    proba dal hoce
2   26    proba dal hoce
3   27    proba dal hoce
4   28    proba dal hoce
5   30    proba dal hoce
6   31        nemackaaa2
7   41        nemackaaa2
8   42        nemackaaa2
9   43        nemackaaa2
10  44  nemackaaa2123123
11   1            srbija
12   2            srbija
13   3            srbija
14   4           nemacka
15   5           nemacka
16   6         nemackaaa
17   7         nemackaaa
18  21         nemackaaa
19  22         nemackaaa
20  23         nemackaaa
21  29        nemackaaa2

In [7]:
import cx_Oracle

conStr = 'odidata/oracle@localhost:1521/xe'

conn = cx_Oracle.connect(conStr)

cur = conn.cursor()

sqlTxt = 'insert into "TEST1".country (name) values (:1)'

cur.execute(sqlTxt, ('nemackaaa',))

conn.commit()

cur.close()
conn.close()

In [4]:
import cx_Oracle
import pandas as pd

conStr = 'odidata/oracle@localhost:1521/xe'

conn = cx_Oracle.connect(conStr)

cur = conn.cursor()

sqlTxt = 'select * from "TEST1".country'
cur.execute(sqlTxt)

record = cur.fetchall()
print(record)

df= pd.DataFrame.from_records(record, columns = [x[0] for x in cur.description] )
print(df)
cur.close()
conn.close()

[(24, 'proba dal hoce'), (25, 'proba dal hoce'), (26, 'proba dal hoce'), (27, 'proba dal hoce'), (28, 'proba dal hoce'), (30, 'proba dal hoce'), (31, 'nemackaaa2'), (62, 'nemackaaa2123123'), (41, 'nemackaaa2'), (42, 'nemackaaa2'), (43, 'nemackaaa2'), (44, 'nemackaaa2123123'), (45, 'nemackaaa'), (1, 'srbija'), (2, 'srbija'), (61, 'nemackaaa2123123'), (3, 'srbija'), (4, 'nemacka'), (5, 'nemacka'), (6, 'nemackaaa'), (7, 'nemackaaa'), (21, 'nemackaaa'), (22, 'nemackaaa'), (23, 'nemackaaa'), (29, 'nemackaaa2')]
    ID              NAME
0   24    proba dal hoce
1   25    proba dal hoce
2   26    proba dal hoce
3   27    proba dal hoce
4   28    proba dal hoce
5   30    proba dal hoce
6   31        nemackaaa2
7   62  nemackaaa2123123
8   41        nemackaaa2
9   42        nemackaaa2
10  43        nemackaaa2
11  44  nemackaaa2123123
12  45         nemackaaa
13   1            srbija
14   2            srbija
15  61  nemackaaa2123123
16   3            srbija
17   4           nemacka
18   5           nemacka
19   6         nemackaaa
20   7         nemackaaa
21  21         nemackaaa
22  22         nemackaaa
23  23         nemackaaa
24  29        nemackaaa2

In [1]:
import cx_Oracle
import pandas as pd

conStr = 'system/oracle@localhost:1521/xe'

conn = cx_Oracle.connect(conStr)

cur = conn.cursor()

sqlTxt = 'select * from "TEST1".src_city'
cur.execute(sqlTxt)

record = cur.fetchall()
print(record)

df= pd.DataFrame.from_records(record, columns = [x[0] for x in cur.description] )
print(df)
cur.close()
conn.close()

[(1, 'p-e', 1)]
   CITY_ID CITY_NAME  COUNTRY_ID
0        1       p-e           1

In [2]:
df

   CITY_ID CITY_NAME  COUNTRY_ID
0        1       p-e           1