In [98]:
import psycopg2
import pandas as pd

In [99]:
def extract(table_names):
    try:

        uid, pwd, server, database, port_id = "etl", "pass", "localhost", "DW_Reservation_System", 5432

        conn = psycopg2.connect(host=server, dbname=database, user=uid, password=pwd, port=port_id)

        for table_name in table_names:

            sqlTxt = f"SELECT * FROM public.\"{table_name}\""

            df = pd.read_sql(sqlTxt, conn)

            variable = f'{table_name}'
            globals()[variable] = df

            print(f"{variable} succesfully loaded!")

    except Exception as e:
        print('Data extract error: ' + str(e))

    finally:
        conn.close()

In [100]:
table_names = ["dim_Apartment", "dim_Advertiser", "dim_Dates", "fct_Cashflow"]

extract(table_names)

dim_Apartment succesfully loaded!
dim_Advertiser succesfully loaded!
dim_Dates succesfully loaded!
fct_Cashflow succesfully loaded!

### First Theme

In [101]:
merged_df = fct_Cashflow.merge(dim_Apartment , on='apartment_id', how='left')
merged_df = merged_df.merge(dim_Advertiser  , on='advertiser_id', how='left')
merged_df = merged_df.merge(dim_Dates, on='date_id', how='left')
merged_df.head()

,advertiser_id,apartment_id,date_id,Price per day,Listing name,Advertiser,date,day,month,quarter,year
0,1,3,1250,31.95,Studio with Patio,Airbnb,2019-06-03,3,6,2,2019
1,1,3,1251,31.95,Studio with Patio,Airbnb,2019-06-04,4,6,2,2019
2,1,3,1252,31.95,Studio with Patio,Airbnb,2019-06-05,5,6,2,2019
3,1,3,1253,31.95,Studio with Patio,Airbnb,2019-06-06,6,6,2,2019
4,1,3,1255,31.95,Studio with Patio,Airbnb,2019-06-08,8,6,2,2019

### Second Theme

### Third Theme